<th scope="row">{{ policy.name }}</th>
<td class="text-monospace">
  <a *ngIf="policy.repo.name; else noNameElement" [routerLink]="['/repos']" [queryParams]="{search: policy.repo.name}">
    {{ policy.repo.name || '--' }}
  </a>
</td>
<td class="text-monospace">
  <a *ngIf="policy.broker.name; else noNameElement" [routerLink]="['/brokers']" [queryParams]="{search: policy.broker.name}">
    {{ policy.broker.name || '--' }}
  </a>
</td>
<td class="text-monospace">
  <a *ngIf="policy.task.name; else noNameElement" [routerLink]="['/tasks']" [queryParams]="{search: policy.task.name}">
    {{ policy.task.name || '--' }}
  </a>
</td>
<td>
  <span [ngClass]="['badge badge-pill mx-1', colorTag.getClass(tag.name)]" *ngFor="let tag of policy.tags">
    {{ tag.name }}
  </span>
</td>
<td><code>{{ policy.enabled }}</code></td>
<td>
  <ngb-progressbar
    [type]="barColor()"
    ngbTooltip="{{ policy.nodes.count }} of {{ policy.max_count }} ({{ policy.nodes.count / policy.max_count * 100.0 | number }} %)"
    [value]="policy.nodes.count"
    [max]="policy.max_count">
    {{ policy.nodes.count }} of {{ policy.max_count }} ({{ policy.nodes.count / policy.max_count * 100.0 | number }} %)
  </ngb-progressbar>
</td>
<ng-template #noNameElement>--</ng-template>
