<div class="row my-2">
  <div class="col-md-3">
    <h3 *ngIf="showTotal">{{ filterTotal }} out of {{ total | i18nPlural: pluralMapping[element]}}</h3>
  </div>
  <div class="offset-md-5 col-md-3">
    <input type="search" [(ngModel)]="filter" (ngModelChange)="generateItemList()" class="form-control" placeholder="Search..." autofocus>
  </div>
  <div class="col-md-1">
    <button ngbButton [disabled]="httpLoading | async" (click)="asyncRefresh()" class="btn btn-outline-info">
      Refresh
    </button>
  </div>
</div>
<div class="row">
  <div class="table-responsive" [ngSwitch]="element">
    <table class="table table-striped table-hover">
      <thead>
        <th
          scope="col"
          *ngFor="let header of headersMapping[element]"
          [ngClass]="{'sortable': header.sort}"
          (click)="header.sort && setSort(header.name)">
          {{ header.label }}
          <span [hidden]="sortField != header.name || !header.sort || !sortReverse">▼</span>
          <span [hidden]="sortField != header.name || !header.sort || sortReverse">▲</span>
        </th>
      </thead>
      <tbody class="text-monospace" *ngSwitchCase="'nodes'">
        <tr node-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse:false:nodeCmp"
          [columns]="headersMapping[element]"
          [node]="item">
        </tr>
      </tbody>
      <tbody class="text-monospace" *ngSwitchCase="'hooks'">
        <tr hook-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse"
          [columns]="headersMapping[element]"
          [hook]="item">
        </tr>
      </tbody>
      <tbody class="text-monospace" *ngSwitchCase="'tags'">
        <tr tag-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse"
          [columns]="headersMapping[element]"
          [tag]="item">
        </tr>
      </tbody>
      <tbody class="text-monospace" *ngSwitchCase="'tasks'">
        <tr task-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse"
          [columns]="headersMapping[element]"
          [task]="item">
        </tr>
      </tbody>
      <tbody class="text-monospace" *ngSwitchCase="'policies'">
        <tr policy-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse"
          [columns]="headersMapping[element]"
          [policy]="item">
        </tr>
      </tbody>
      <tbody class="text-monospace" *ngSwitchCase="'repos'">
        <tr repo-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse"
          [columns]="headersMapping[element]"
          [repo]="item">
        </tr>
      </tbody>
      <tbody class="text-monospace" *ngSwitchCase="'configuration'">
        <tr config-list-item
          *ngFor="let item of items | orderBy: sortField:sortReverse"
          [columns]="headersMapping[element]"
          [config]="item">
        </tr>
      </tbody>
    </table>
  </div>
</div>
<pre *ngIf="devMode">{{ items|json }}</pre>
