<div class="modal-header">
  <h4 class="modal-title" id="reinstall-modal">Reinstall {{ nodeId }}?</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div class="form-check">
        <input #keepPolicy type="checkbox" class="form-check-input"/>
        <label class="form-check-label">Keep installed policy?</label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.dismiss('cancel')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-outline-info btn-sm" (click)="modal.close(keepPolicy.checked)">OK</button>
</div>
