<div class="row my-2">
  <div class="col-md-6">
    <h3>
      {{ filterTotal }} out of {{ total | i18nPlural: pluralMapping}} for node <strong>{{ nodeId }}</strong>
    </h3>
  </div>
  <div class="offset-md-2 col-md-3">
    <input [(ngModel)]="filter" (ngModelChange)="generateItemList()" class="form-control" placeholder="Search..." autofocus>
  </div>
  <div class="col-md-1">
    <button ngbButton [disabled]="httpLoading | async" (click)="asyncRefresh()" class="btn btn-outline-info">
      Refresh
    </button>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th scope="col" *ngFor="let header of headers" [ngClass]="{'sortable': header == 'Time'}" (click)="sortReverse = !sortReverse">
          {{ header }}
          <span [hidden]="'Time' != header || !sortReverse">▼</span>
          <span [hidden]="'Time' != header || sortReverse">▲</span>
        </th>
      </thead>
      <tbody class="text-monospace">
        <tr *ngFor="let entry of entries | orderBy: 'timestamp':sortReverse" [ngClass]="{'text-danger': entry.severity == 'error'}">
          <td>{{ entry.timestamp | date: 'yyyy-MM-dd HH:mm:SS' }}</td>
          <td>{{ entry.severity | uppercase }}</td>
          <td>{{ entry.event }}</td>
          <td>
            <div class="row">
              <div class="col-md-12">
                {{ entry.msg }}
              </div>
              <div *ngIf="entry.stage" class="col-md-12">
                Stage: {{ entry.stage }}
              </div>
              <div *ngIf="entry.action" class="col-md-12">
                Action: {{ entry.action }}
              </div>
              <div *ngIf="entry.error" class="col-md-12">
                Error: {{ entry.error }}
              </div>
              <div *ngIf="entry.installed" class="col-md-12">
                Installed: {{ entry.installed }}
              </div>
              <div *ngIf="entry.repo" class="col-md-12">
                Repo: {{ entry.repo }}
              </div>
              <div *ngIf="entry.script" class="col-md-12">
                Script: {{ entry.script }}
              </div>
              <div *ngIf="entry.task" class="col-md-12">
                Task: {{ entry.task }}
              </div>
              <div *ngIf="entry.template" class="col-md-12">
                Template: {{ entry.template }}
              </div>
              <div *ngIf="entry.url" class="col-md-12">
                URL: {{ entry.url }}
              </div>
              <div *ngIf="entry.policy || entry.policy_name" class="col-md-12">
                Policy: {{ entry.policy || entry.policy_name }}
              </div>
              <div *ngIf="entry.vars" class="col-md-12">
                Vars: <pre>{{ entry.vars | json }}</pre>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<pre *ngIf="devMode">{{ entries|json }}</pre>
